.about_main {
  font-family: "JetBrains Mono", monospace;
}

.about_heading {
  font-family: "JetBrains Mono", monospace;
}

.about_list {
  cursor: pointer;
}

.about_icon {
  position: relative;
  top: -3px;
}
