.header_main {
  font-family: "JetBrains Mono", monospace;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* background-color: #718096; */
  box-shadow: 0px 6px 0px -3px #38a169;
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
